table {
    border: 1px solid black;
}
th {
    border: 1px solid black;
    padding: 5px;
    background-color: grey;
    color: white;
}
td {
    border: 1px solid black;
    padding: 5px;
}
input {
    font-size: 12pt;
    /* font-family: Calibri; */
}